<div class="row">
  <div class="col-md-12">
    <div id="errors">
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @user do |f| %>
      <%= f.input :name, label: 'Nome', error: 'Campo Nome é obrigatório' %>
      <%= f.input :email, placeholder: 'user@domain.com', as: :email,
        error: 'Campo Email é obrigatório' %>
      <%= f.input :phone, label: 'Telefone', as: :tel,
        error: 'Campo Telefone é obrigatório' %>
      <%= f.input :company, label: 'Empresa',
        error: 'Campo Empresa é obrigatório' %>
      <%= f.input :position, label: 'Cargo',
        error: 'Campo Cargo é obrigatório' %>

      <%= f.button :submit, submit_text, class:'btn btn-primary' %>
    <% end %>
  </div>
</div>
